<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;margin:0px auto;width: 600px;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg .tg-property{font-family:"Courier New", Courier, monospace !important;;text-align:left;width: 300px;}
.tg .tg-value{font-family:"Courier New", Courier, monospace !important;;text-align:center}
.tg .tg-heading{font-weight:bold;font-size:medium;font-family:"Courier New", Courier, monospace !important;;text-align:center;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-heading" colspan="2">ATOMIA MANAGED SERVER</th>
  </tr>
  <tr>
    <td class="tg-property">FQDN</td>
    <td class="tg-value"><%= @fqdn %></td>
  </tr>
  <tr>
    <td class="tg-property">OPERATING SYSTEM</td>
    <td class="tg-value"><%= @lsbdistdescription %></td>
  </tr>
  <tr>
    <td class="tg-property">ATOMIA ROLE</td>
    <td class="tg-value"><%= @atomia_role %></td>
  </tr>
  <tr>
    <td class="tg-property">IP ADDRESS</td>
    <td class="tg-value"><%= @ipaddress %></td>
  </tr>
  <tr>
    <td class="tg-property">UPTIME (h)</td>
    <td class="tg-value"><%= @uptime_hours %></td>
  </tr>
  <tr>
    <td class="tg-property">PUPPET AGENT</td>
    <td class="tg-value"><%= @puppetversion %></td>
  </tr>
</table>